**Value, Type and ID**

In [1]:
x = 10
print(x)
print(type(x))
print(id(x))

10
<class 'int'>
11654664

In [2]:
number =   314 # value of number
print(number)
print(type(number))
print(id(number)) #identity  of number
number = 23
print(id(number))

314
<class 'int'>
137108230037552
11655080

In [4]:
x = 10
print(id(x))
y = 10
print(id(y))
z = x
print(id(z))
y = 20
print(id(y))
x = 20
print(id(x))

11654664
11654664
11654664
11654984
11654984

**Tuples**

In [8]:
student = ("Rahul", 101, "Section 2")
print(student)
print(type(student))
print(student[0])
student[0] = 'Alice'

('Rahul', 101, 'Section 2')
<class 'tuple'>
Rahul

In [9]:
location = (12.9716, 77.5946, "Bangalore")
latitude = location[0]
longitude = location[1]
city = location[2]
print(f"City: {city}")
print(f"Coordinates: ({latitude}, {longitude})")

City: Bangalore
Coordinates: (12.9716, 77.5946)

**Lists**

In [12]:
fruits = ['apple', 100 , 'tomato', 20]
print(fruits)
print(type(fruits))

['apple', 100, 'tomato', 20]
<class 'list'>

In [11]:
print(id(fruits))
print(fruits[3])
fruits[2] = 'apricot'
print(fruits)
print(id(fruits))

137107805659264
grapes
['apple', 'banana', 'apricot', 'grapes']
137107805659264

In [13]:
fruits.append('Mango')
fruits.append('Orange')
fruits

['apple', 100, 'tomato', 20, 'Mango', 'Orange']

In [15]:
numbers = list(range(10))
print(numbers)

#Slicing
print(numbers[0:3])
print(numbers[4:])
print(numbers[-1])
print(numbers[::2])# no start, no stop ,step: 2
print(len(numbers))
print(max(numbers))
print(min(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7, 8, 9]
9
[0, 2, 4, 6, 8]
10
9
0

**Dictionaries**

In [19]:
days = {'1':"Monday", '2': 2, 3:"Wednesday"}
print(days)
print(type(days))
print(id(days))
print(days.keys())
print(days.values())
print(days['2'])

{'1': 'Monday', '2': 2, 3: 'Wednesday'}
<class 'dict'>
137107802142592
dict_keys(['1', '2', 3])
dict_values(['Monday', 2, 'Wednesday'])
2

In [24]:
inventory = {"apple": 24 ,"orange":30,"banana":40}
print(id(inventory))
inventory["orange"] = 40 #modify
print(inventory)
inventory["apple"] = 30 #modify
print(inventory)
inventory["lemon"] = 60 # add
print(inventory)
inventory = inventory | {40 : "apricot"} #add
print(inventory)
print(inventory.get("lemon"))

137107802143168
{'apple': 24, 'orange': 40, 'banana': 40}
{'apple': 30, 'orange': 40, 'banana': 40}
{'apple': 30, 'orange': 40, 'banana': 40, 'lemon': 60}
{'apple': 30, 'orange': 40, 'banana': 40, 'lemon': 60, 40: 'apricot'}
60

**Sets**

In [30]:
nums = {1, 2, 3}
print(nums)
print(type(nums))
print(id(nums))

{1, 2, 3}
<class 'set'>
137107803311680

In [34]:
listNums = set([1, 2 ,3])
print(listNums)
print(type(listNums))
print(nums == listNums)
nums.add(4)
print(nums)
nums.pop()
print(nums)
days = {"monday", "tuesday" , "wednesday", "thursday" , "friday", "saturday"}
daysList = ["monday", "tuesday" , "wednesday", "thursday" , "friday", "saturday"]
print(days)
print(daysList)
print(days)
print(daysList)
print(daysList.sort())
print(daysList)

{1, 2, 3}
<class 'set'>
False
{4}
set()
{'thursday', 'monday', 'tuesday', 'friday', 'wednesday', 'saturday'}
['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
{'thursday', 'monday', 'tuesday', 'friday', 'wednesday', 'saturday'}
['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
None
['friday', 'monday', 'saturday', 'thursday', 'tuesday', 'wednesday']

**Conditional statements**

In [36]:
x = True
if x:
  print("Executing if") #indentation is at level 1
  print("Still in if")
else:
  print("Executing else")
print("Prints regardless of the outcome of the if-else block") #indentation is at level 0

Executing if
Still in if
Prints regardless of the outcome of the if-else block

In [39]:
purchasePrice = float(input("enter purchase price: "))
currentPrice = float(input("current price of Bitcoin"))

if currentPrice < purchasePrice:
  print("not a good idea to sell")
elif currentPrice > purchasePrice:
  print("can sell")
elif currentPrice == purchasePrice:
  print("Wait for a while")
else:
  print("Wait for a while")

enter purchase price: 1000
current price of Bitcoin600
not a good idea to sell

In [40]:
fruitsList = ["apple", "banana", "tomato", "grapes"] #list
for fruit in fruitsList:
  print("The fruit " + fruit , "has index" , fruitsList.index(fruit))

The fruit apple has index 0
The fruit banana has index 1
The fruit tomato has index 2
The fruit grapes has index 3

In [41]:
fruitsSet = {"apple" ,"apricot" ,"orange", "Lemon"}
for fruit in fruitsSet:
  print(fruit)

apple
orange
apricot
Lemon

In [44]:
numbersList = list(range(10))
for num in numbersList:
  squared = num ** 2
  print(num, "squared is", squared)

0 squared is 0
1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81

In [46]:
n = 4
while n < 5:
  print("Executing while loop")
  n = n+1
print("Out of while loop")

Executing while loop
Out of while loop

**Errors and Exceptions**

In [47]:
while 4>5:
  print('Hello world')

SyntaxError: invalid syntax (ipython-input-3602401072.py, line 1)

In [48]:
'2' + 2

TypeError: can only concatenate str (not "int") to str

In [50]:
10 * (1/0)

ZeroDivisionError: division by zero

Exception Handling

In [63]:
while True:
  try:
    x = int(input("please enter a number: "))
    break
  except:
    print("This is not a valid number")
print(x)

please enter a number: y
This is not a valid number
please enter a number: 9
9

In [55]:
a = 1
b = input("please enter a number: ")
if int(b) == 0:
  raise ZeroDivisionError("Cannot divide by zero!")
print(a / int(b))

please enter a number: 6
0.16666666666666666

In [49]:
4 + spam*3

NameError: name 'spam' is not defined

In [56]:
try:
  numerator = 10
  denominator = 0
  result = numerator / denominator
  print(result)
except ZeroDivisionError:
  print("Denominator cannot be zero")

Denominator cannot be zero

In [58]:
try:

    even_numbers = [2,4,6,8]
    print(even_numbers[4])

except ZeroDivisionError:
    print("Denominator cannot be 0.")

except IndexError:
    print("Index Out of Bound.")

Index Out of Bound.

In [60]:
try:
  x = 5
  y = 0
  z = x/y
except ZeroDivisionError:
  print("Error: Cannot divide by zero")
finally:
  print("All done") #always executes

Error: Cannot divide by zero
All done

Functions

In [ ]:
def printName():
  print("name")

In [ ]:
printName()

name

In [69]:
# define Python user-defined exceptions
class InvalidAgeException(Exception):
    "Raised when the input value is less than 18"
    pass

# you need to guess this number
number = 18

try:
    input_num = int(input("Enter a number: "))
    if input_num < number:
        raise InvalidAgeException
    else:
        print("Eligible to Vote")

except InvalidAgeException:
    print("Exception occurred: Invalid Age")

Enter a number: 13
Exception occurred: Invalid Age